<div class="container-fluid card login-container">
  <h3 class="text-center">
    Авторизація
  </h3>
  <hr>
      <p class="alert alert-danger" role="alert" *ngIf="errorMsg">{{errorMsg}}</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input formControlName="email" type="email" class="form-control" id="email" placeholder="name@example.com">
    <span
      class="text-danger"
      *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
    >
      <span *ngIf="form.get('email')?.errors?.['required']">Email не може бути порожнім</span>
      <span *ngIf="form.get('email')?.errors?.['email']">Введіть коректну email адресу</span>
    </span>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input formControlName="password" type="password" class="form-control" placeholder="Your password" id="password">
    <span
      class="text-danger"
      *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
    >
      <span *ngIf="form.get('password')?.errors?.['required']">Пароль не може бути порожнім</span>
      <span *ngIf="form.get('password')?.errors?.['minlength']"> Пароль має бути більше {{form.get('password')?.errors?.['minlength']['requiredLength'] }} символів. Зараз {{ form.get('password')?.errors?.['minlength']['actualLength'] }}</span>
    </span>
  </div>
  <div class="d-flex justify-content-between mb-3">
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid || form.disabled">
    <em class="fas fa-sign-in-alt">&nbsp;Увійти</em>
  </button>
  <div>
    Все ще не маєте аккауту?&nbsp;
    <button (click)="register()"  type="button" class="btn btn-link">
      Зареєструватися
    </button>
  </div>
</div>
</form>

</div>
